a {
  color: orange;
}

.btn {
  color: orange;
}

.js-toggle-dark-mode {
  color: orange;
}

.nav-list .nav-list-item .nav-list-expander .nav-list-link {
  color: orange;
}

::selection {
  background: grey;
}

.icon {
  color: grey;
}

.nav-list .nav-list-item .nav-list-expander {
  color: grey;
}

@media (min-width: 50rem)
.site-title {
    padding-top: .1rem;
    padding-bottom: .1rem;
}