a {
  color: orange;
}

.btn {
  color: orange;
}

.js-toggle-dark-mode {
  color: orange;
}

.nav-list-link {
  color: orange;
}

::selection {
  background: grey;
}

.icon {
  color: grey;
}

.nav-list-expander {
  color: grey;
}

.btn-primary {
  background-color: grey;
}