a {
  color: orange;
}

.btn {
  color: orange;
}

.js-toggle-dark-mode {
  color: orange;
}

.nav-list .nav-list-item .nav-list-expander .nav-list-link {
  color: orange;
}

::selection {
  background: grey;
}

.icon {
  color: grey;
}

.nav-list .nav-list-item .nav-list-expander {
  color: grey;
}

.btn-primary {
  background-image: linear-gradient (#e66465, #9198e5);
  background: grey;
}